[submodule "janus/tabular"]
	path = janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "janus/vim-jade"]
	path = janus/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "janus/csv.vim"]
	path = janus/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "janus/vim-stylus.git"]
	path = janus/vim-stylus.git
	url = https://github.com/wavded/vim-stylus.git
[submodule "janus/vim-ledger.git"]
	path = janus/vim-ledger.git
	url = https://github.com/cypok/vim-ledger.git
[submodule "pentadactyl/plugins/firebug-pentadactyl.git"]
	path = pentadactyl/plugins/firebug-pentadactyl.git
	url = https://github.com/maksimr/firebug-pentadactyl.git
[submodule "janus/taskpaper.vim.git"]
	path = janus/taskpaper.vim.git
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule "janus/yaml-vim.git"]
	path = janus/yaml-vim.git
	url = https://github.com/ingydotnet/yaml-vim.git
